html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

ul,
li {
  padding: 0;
}

.flex {
  display: flex;
  width: 100vw;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;

  @include respond(tab-land) {
    width: 90%;
  }
  @include respond(tab-port) {
    width: 95%;
  }
}

.margin-T-B {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include respond(tab-port) {
  }
}

// .selected {
//   height: 100%;
//   color: var(--color-red);
//   opacity: 1;
//   border-bottom: 1px solid red;
// }

.embla {
  // overflow: hidden;
  margin: 5rem 0;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  max-width: fit-content;
  margin: 0 1rem;
}
