.header {
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.2rem;
}

.grid > div {
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
  background-color: black;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    transition: all 0.2s;
  }
}

.grid > div:hover {
  img {
    opacity: 0.8;
  }

  .item_info {
    bottom: 0;
  }
}

.card_main {
  grid-row: 1 / span 2;
}
