@import "../../sass/mixins";

.details {
  margin: 10rem 0;
  min-height: 40vh;
  display: flex;
  align-items: center;
}

// CAST

.actors {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  place-content: center;
  grid-gap: 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 2rem;
  }
}

.actorCard {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 200px;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-bottom);
  overflow: hidden;
  opacity: 0.9;
  transition: opacity 0.2s;
  background-color: rgba($color: #000000, $alpha: 0.05);

  @include respond(phone) {
    width: 150px;
  }

  &:hover {
    opacity: 1;
  }

  h1 {
    font-size: var(--font-l);
    margin-left: 1rem;
  }
  h4 {
    margin-left: 1rem;

    span {
      color: var(--color-red);
    }
  }
}

//TRAILERS

.trailers {
  display: grid;
  place-content: center;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 50vh;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 80%;
  }
  @include respond(tab-port) {
    width: 90%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    //   width: 45vw;
    //   height: 50vh;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-bottom);
  }
}

// WATCH

.watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  gap: 5rem;

  ul {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 15rem);
    padding: 2rem;
    gap: 5rem;
  }

  li {
    cursor: pointer;
    position: relative;
    display: grid;
    place-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 10%;
    background-color: rgba($color: #000000, $alpha: 0.025);
    opacity: 1;
    transition: all 0.2s;
  }

  .providerLogo {
    width: 10rem;
    border-radius: 50%;
    opacity: 0.15;
    transition: opacity 0.2s;
  }

  li:hover {
    background-color: rgba($color: #000000, $alpha: 0.07);
  }

  li:hover .providerLogo {
    opacity: 1;
  }
}
