@import "../../sass/mixins";

.links {
  position: relative;
  display: flex;
  gap: 2rem;

  @include respond(phone) {
    display: none;
  }

  a {
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: var(--color-black-350);
    transition: color 0.2s;

    &:hover {
      color: var(--color-black-500);
    }
  }
}

.active {
  color: var(--color-red);
}


