@import "../../sass/mixins";

.container {
  box-shadow: var(--shadow-bottom);
  background-color: var(--color-white);
}

.nav {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 4rem;

  @include respond(phone) {
    gap: 1rem;
  }
}
